name: Datamosh Video Processing

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  run-datamosh:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg

      - name: Install Python Dependencies
        run: pip install -r requirements.txt

      - name: Run Datamosh Script
        run: python script.py

      - name: Upload Output Video
        if: always() # Uploads even if previous step fails, useful for debugging logs
        uses: actions/upload-artifact@v4
        with:
          name: horrifying_datamosh_result
          path: output_horrifying_mosh.mp4
          retention-days: 5
